
header, footer {
    background-color: #FFD4E1;
}
.titulo, h2, .LogOut {
    color: #312B80;
}

.LogIn {
    background-color: #74DB03;
}

li {
    font-size: 25px;
}

form button {
    background-color: #BA007D;
}