header,
footer {
    background-color: #FFD4E1;
}

.titulo a,
h2
 {
    color: #312B80;
}

.titulo  a {
	text-decoration: none;
}

.LogOut {
	background-color:#312B80;
}

.LogIn {
    background-color: #74DB03;
}

li {
    font-size: 25px;
}

form button, .boton {
    background-color: #BA007D;
}

.cuadrado {
    float: left;
    height: 300px;
}

.info {
	font-size: 20px;
}